<h2>{{ course.name }}</h2>
<ul>
    <li>ECTS: {{ course.ects }}</li>
    <li>Semester: {{ course.semesterNumber }}</li>
    <li>Class format: {{ course.classFormat }}</li>
    <li>Maximum number of students: {{ course.maxStudents }}</li>
</ul>
<h4>Description</h4>
<p>{{ course.description }}</p>
<img src='{{ course.iconPath }}'>
<app-course-rate [course]="course"></app-course-rate>
<button routerLink="/admin-courses" routerLinkActive="active" (click)="onDelete(course)">Delete</button>
<button routerLink="/admin-courses" routerLinkActive="active">Back</button>